@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --PrimaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 93%, 42%);
  --WhiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(0, 0%, 18%);
  --TextColor: hsl(240, 1%, 48%);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --GreyBg: hsl(0, 0%, 96%);
  --GreyText: rgb(190, 190, 190);
  --InputColor: hsl(330, 12%, 97%);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img, video {
  width: 100%;
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
}

.section {
  padding: 4rem 0 2rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.4rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn:hover {
  color: var(--WhiteColor);
}

.btn a {
  color: var(--WhiteColor);
  font-weight: 500;
  transition: all 0.4s ease;
}
.btn a:hover {
  color: var(--WhiteColor);
}
.btn:hover {
  background: var(--HoverColor);
}

.secIntro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}
.secIntro .secTitle {
  color: var(--BlackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.secIntro p {
  font-size: 0.813rem;
  color: var(--TextColor);
  font-weight: 500;
}

input {
  font-size: 100%;
}

@media screen and (min-width: 556px) {
  .mainContent, .singlePost {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 884px) {
  .mainContent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1240px) {
  .container {
    width: 75% !important;
    margin: auto;
  }
  .section {
    padding: 5rem 0 3rem;
  }
  .secIntro {
    margin: 0 auto 3rem;
  }
  .secIntro, .secTitle {
    line-height: 2rem;
    padding-bottom: 1rem;
    font-size: 2.2rem;
  }
  .secIntro p {
    font-size: 0.938rem;
  }
}
@media screen and (min-width: 2560px) {
  body {
    zoom: 1.7;
  }
}
::selection {
  background: var(--PrimaryColor);
  color: var(--WhiteColor);
}

::-webkit-scrollbar {
  width: 0.813rem;
  background: var(--GreyBg);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.813rem;
  background: var(--PrimaryColor);
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.home {
  height: 70vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url("../../assets/bgHome.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
.home .secContainer .homeText {
  text-align: center;
}
.home .secContainer .homeText .title {
  color: var(--WhiteColor);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.home .secContainer .homeText .subtitle {
  color: var(--WhiteColor);
  opacity: 0.9;
  font-size: 0.813rem;
  font-weight: 300;
  padding: 1rem 0;
  max-width: 70%;
  text-align: center;
  margin: auto;
}
.home .secContainer .homeText .btn {
  padding: 0.8rem 1.3rem;
}
.home .secContainer .homeCard {
  width: 80%;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--WhiteColor);
  position: absolute;
  gap: 1rem;
  bottom: -35%;
  transform: translate(-50%);
  left: 50%;
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}
.home .secContainer .homeCard .locationDiv, .home .secContainer .homeCard .distDiv, .home .secContainer .homeCard .priceDiv {
  width: 100%;
}
.home .secContainer .homeCard .locationDiv label, .home .secContainer .homeCard .distDiv label, .home .secContainer .homeCard .priceDiv label {
  display: block;
  color: var(--textColor);
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 0.4rem;
}
.home .secContainer .homeCard .locationDiv input, .home .secContainer .homeCard .distDiv input, .home .secContainer .homeCard .priceDiv input {
  width: 100%;
  background: var(--InputColor);
  border-radius: 10px;
  border: none;
  padding: 0.625rem;
  font-size: 0.813rem;
  font-weight: 500;
  transition: 0.1s ease;
}
.home .secContainer .homeCard .locationDiv input::placeholder, .home .secContainer .homeCard .distDiv input::placeholder, .home .secContainer .homeCard .priceDiv input::placeholder {
  font-size: 0.813rem;
  opacity: 0.5;
  font-weight: 400;
}
.home .secContainer .homeCard .locationDiv input:focus, .home .secContainer .homeCard .distDiv input:focus, .home .secContainer .homeCard .priceDiv input:focus {
  border-color: var(--PrimaryColor);
}
.home .secContainer .homeCard .btn {
  width: 100%;
  padding: 0.8rem 1.5rem;
  color: var(--WhiteColor);
  font-weight: 600;
}

@media screen and (min-width: 480px) {
  .home .secContainer .homeCard {
    bottom: -6.25rem;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
  .home .secContainer .homeCard .btn {
    transform: translateY(0.938rem);
  }
}
@media screen and (min-width: 556px) {
  .home .secContainer .homeText .title {
    font-size: 2.5rem;
  }
  .home .secContainer .homeText .subtitle {
    font-size: 0.813rem;
  }
}
@media screen and (min-width: 720px) {
  .home .secContainer .homeText .title {
    font-size: 3.5rem;
    margin: auto;
    line-height: 4rem;
  }
  .home .secContainer .homeText .subtitle {
    width: 70%;
  }
  .home .secContainer .homeCard {
    bottom: -5%;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .home .secContainer .homeText .subtitle {
    font-size: 1.25rem;
  }
  .home .secContainer .homeCard {
    width: 75%;
  }
}
.about .secContainer .title h4 {
  color: var(--BlackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.about .secContainer .mainContent {
  gap: 1rem;
}
.about .secContainer .mainContent .singleItem {
  text-align: center;
}
.about .secContainer .mainContent .singleItem img {
  background: rgba(247, 144, 54, 0.265);
  width: 6.25rem;
  border-radius: 50%;
  padding: 0.6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.about .secContainer .mainContent .singleItem h3 {
  font-weight: 700;
  color: var(--BlackColor);
  padding: 0.5rem;
}
.about .secContainer .mainContent .singleItem p {
  font-size: 0.813rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--TextColor);
}
.about .secContainer .videoCard {
  margin-top: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.609)), url(../../assets/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .secContainer .videoCard .cardContent {
  gap: 2rem;
  padding: 2rem 1rem;
}
.about .secContainer .videoCard .cardContent .cardText h2 {
  color: var(--WhiteColor);
  font-weight: 600;
  padding-bottom: 1rem;
}
.about .secContainer .videoCard .cardContent .cardText p {
  color: var(--WhiteColor);
  opacity: 0.7;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.063rem;
}
.about .secContainer .videoCard .cardVideo {
  border: 2px solid var(--WhiteColor);
  height: 12.5rem;
  width: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
}
.about .secContainer .videoCard .cardVideo video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 720px) {
  .about .secContainer .videoCard .cardContent {
    gap: 4rem;
    padding: 4rem 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .about .secContainer .videoCard .cardContent .cardText h2 {
    font-size: 2rem;
  }
  .about .secContainer .videoCard .cardContent .cardText p {
    font-size: 0.938rem;
    opacity: 0.7;
  }
}
@media screen and (min-width: 1024px) {
  .about .secContainer .mainContent {
    padding: 2.5rem 0;
  }
}
.blog {
  background: var(--GreyBg);
}
.blog .mainContainer {
  gap: 1rem;
}
.blog .mainContainer .singlePost {
  gap: 2rem;
}
.blog .mainContainer .singlePost .imgDiv {
  height: 12.5rem;
  width: 100%;
  border-radius: 1rem;
  border: 5px solid var(--GreyBg);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.406);
  overflow: hidden;
}
.blog .mainContainer .singlePost .imgDiv:hover img {
  transform: scale(1.1);
  transition: 0.3s ease;
}
.blog .mainContainer .singlePost .imgDiv img {
  height: 100%;
  object-fit: cover;
}
.blog .mainContainer .singlePost .postDetails h3 {
  color: var(--BlackColor);
  font-weight: 600;
  padding-bottom: 0.625rem;
}
.blog .mainContainer .singlePost .postDetails p {
  color: var(--TextColor);
  font-weight: 500;
  font-size: 0.813rem;
}
.blog .mainContainer .singlePost a {
  color: var(--PrimaryColor);
  font-weight: 600;
  font-size: 0.938rem;
  padding-top: 0.5rem;
  width: max-content;
  transition: 0.3s ease;
}
.blog .mainContainer .singlePost a:hover {
  color: var(--HoverColor);
  font-weight: 600;
}
.blog .mainContainer .singlePost a:hover .icon {
  transform: translateX(0.6rem);
  transition: 0.5s ease;
}

@media screen and (min-width: 884px) {
  .blog .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer {
  background: var(--GrayBg);
  padding: 2rem 0;
}
.footer .secContainer {
  gap: 1.5rem;
  text-align: center;
}
.footer .secContainer .footerLogo {
  padding-bottom: 0.5rem;
}
.footer .secContainer .footerLogo .logo {
  color: var(--BlackColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.footer .secContainer .footerLogo .logo .icon {
  font-size: 1.563rem;
  color: var(--PrimaryColor);
  margin-right: 0.5rem;
}
.footer .secContainer .socials {
  gap: 0.5rem;
  margin: auto;
  justify-content: center;
}
.footer .secContainer .socials .icon {
  font-size: 1.875rem;
  background: var(--PrimaryColor);
  border-radius: 50%;
  padding: 8px;
  color: var(--WhiteColor);
  transition: 0.3s ease;
}
.footer .secContainer .socials .icon:hover {
  background: var(--BlackColor);
}
.footer .secContainer .footerLinks {
  display: grid;
  row-gap: 0.2rem;
}
.footer .secContainer .footerLinks .linkTitle {
  padding-bottom: 0.5rem;
  color: var(--BlackColor);
  font-weight: 700;
}
.footer .secContainer .footerLinks li {
  transition: 0.3s ease;
}
.footer .secContainer .footerLinks li:hover {
  transform: translateX(0.625rem);
}
.footer .secContainer .footerLinks li:hover a {
  color: var(--PrimaryColor);
}
.footer .secContainer .footerLinks a, .footer .secContainer .footerLinks .phone, .footer .secContainer .footerLinks .email {
  color: var(--TextColor);
  font-size: 0.813rem;
  font-weight: 500;
}

@media screen and (min-width: 440px) {
  .secContainer {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
    align-items: flex-start;
  }
  .secContainer .footerLinks {
    justify-content: center;
  }
}
@media screen and (min-width: 640px) {
  .secContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .secContainer {
    padding: 2rem;
  }
}
.navBarSection .header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
}
.navBarSection .header .logoDiv .logo {
  color: var(--WhiteColor);
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.navBarSection .header .logoDiv .logo .icon {
  color: var(--PrimaryColor);
  font-size: 1.563rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 768px) {
  .navBarSection .navBar {
    background: var(--WhiteColorDeam);
    position: absolute;
    height: max-content;
    padding: 1rem 1rem 2.5rem 1rem;
    width: 100%;
    top: 0;
    left: -500%;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.4s ease;
    z-index: 1000;
  }
  .navBarSection .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navBarSection .navBar .navLists .navItem {
    padding: 1rem 0;
  }
  .navBarSection .navBar .navLists .navItem .navLink {
    color: var(--TextColor);
    font-size: 1.2rem;
    font-weight: 600;
  }
  .navBarSection .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .navBarSection .navBar .navLists .headerBtns {
    width: 100%;
    flex-direction: column;
  }
  .navBarSection .navBar .navLists .headerBtns .btn {
    width: 70%;
    margin-top: 1.6rem;
    padding: 0.7rem;
  }
  .navBarSection .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
  }
  .navBarSection .navBar .navLists .headerBtns .btn a:hover {
    font-variant: var(--WhiteColor);
  }
  .navBarSection .navBar .navLists .headerBtns .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
    color: var(--PrimaryColor);
  }
  .navBarSection .navBar .navLists .headerBtns .loginBtn a {
    color: var(--PrimaryColor);
  }
  .navBarSection .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--HoverColor);
  }
  .navBarSection .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--WhiteColor);
  }
  .navBarSection .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
  }
  .navBarSection .navBar .closeNavbar:hover .icon {
    color: var(--HoverColor);
  }
  .navBarSection .activeNavbar {
    left: 0;
  }
}
.navBarSection .activeHeader {
  background: var(--GreyText);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem !important;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--WhiteColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 400;
    transition: 0.3s ease;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  .header .navBar .navLists .btn a {
    color: var(--WhiteColor);
    font-weight: 500;
  }
  .header .navBar .navLists .loginBtn {
    background: none;
    border: 1px solid var(--PrimaryColor);
    transition: 0.3s ease;
  }
  .header .navBar .navLists .loginBtn:hover {
    background: var(--PrimaryColor);
    color: var(--WhiteColor);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 8.5rem !important;
  }
}
.toggleNavbar .icon {
  font-size: 25px;
  color: var(--WhiteColor);
}
.toggleNavbar .icon:hover {
  color: var(--PrimaryColor);
}

.offer .secContainer .mainContent {
  gap: 1rem;
}
.offer .secContainer .mainContent .singleOffer {
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.5rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);
  transition: 0.3s ease;
}
.offer .secContainer .mainContent .singleOffer .icon {
  font-size: 1.25rem;
  color: var(--TextColor);
}
.offer .secContainer .mainContent .singleOffer small {
  font-weight: 500;
  color: var(--TextColor);
}
.offer .secContainer .mainContent .singleOffer .destImage {
  position: relative;
  height: 12.5rem;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.offer .secContainer .mainContent .singleOffer .destImage img {
  object-fit: cover;
  height: 100%;
}
.offer .secContainer .mainContent .singleOffer .destImage .discount {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  padding: 0.313rem 0.625rem;
  background: var(--PrimaryColor);
  border-radius: 3rem;
  font-size: 0.625rem;
  font-weight: 500;
}
.offer .secContainer .mainContent .singleOffer .offerBody {
  padding: 1rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .price {
  justify-content: space-between;
}
.offer .secContainer .mainContent .singleOffer .offerBody .price h4 {
  color: var(--BlackColor);
  font-weight: 700;
  font-size: 1.1rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .price .status {
  padding: 0.313rem 0.625rem;
  color: var(--HoverColor);
  background: var(--GreyBg);
  font-size: 0.625rem;
  font-weight: 600;
  border-radius: 3rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .amenities {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 0;
  gap: 0.5rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .amenities .singleAmenities {
  padding: 0.313rem 0.625rem;
  border-radius: 5px;
  background: var(--GreyBg);
  gap: 0.5rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0.6rem;
  color: var(--WhiteColor);
  font-weight: 600;
  gap: 0.5rem;
}
.offer .secContainer .mainContent .singleOffer .offerBody .btn .icon {
  color: var(--WhiteColor);
}
.offer .secContainer .mainContent .singleOffer:hover {
  transform: translateY(-7px);
}

.popular {
  padding-top: 18rem;
}
.popular .secContainer .secHeader {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.popular .secContainer .secHeader .textDiv .secTitle {
  color: var(--BlackColor);
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
.popular .secContainer .secHeader .textDiv p {
  font-size: 0.813rem;
  color: var(--TextColor);
  font-weight: 500;
}
.popular .secContainer .secHeader .iconsDiv {
  gap: 0.5rem;
}
.popular .secContainer .secHeader .iconsDiv .icon {
  padding: 0.5rem;
  background: var(--GreyText);
  border-radius: 50%;
  font-size: 2.5rem;
}
.popular .secContainer .secHeader .iconsDiv .icon:hover {
  background: var(--BlackColor);
  color: var(--WhiteColor);
}
.popular .secContainer .secHeader .iconsDiv .leftIcon {
  background: var(--BlackColor);
  color: var(--WhiteColor);
}
.popular .secContainer .secHeader .iconsDiv .leftIcon:hover {
  background: var(--GreyText);
  color: var(--BlackColor);
}
.popular .secContainer .mainContent {
  padding: 2rem 0;
  gap: 1rem;
}
.popular .secContainer .mainContent .singleDestination {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}
.popular .secContainer .mainContent .singleDestination .destImage {
  height: 12.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.popular .secContainer .mainContent .singleDestination .destImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo {
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.759));
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo h3 {
  color: var(--WhiteColor);
  font-weight: 600;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo p {
  color: var(--WhiteColor);
  opacity: 0.7;
  font-size: 0.813rem;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  padding: 0.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background: var(--PrimaryColor);
  color: var(--WhiteColor);
  border: 1px solid transparent;
  transition: 0.3s ease;
}
.popular .secContainer .mainContent .singleDestination .destImage .overlayInfo .icon:hover {
  border-color: var(--PrimaryColor);
  background: var(--BlackColor);
  color: var(--PrimaryColor);
}
.popular .secContainer .mainContent .singleDestination .destFooter {
  padding: 1rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--BlackColor);
  position: relative;
  width: max-content;
}
.popular .secContainer .mainContent .singleDestination .destFooter .number::after {
  content: "";
  position: absolute;
  background: var(--PrimaryColor);
  top: 45%;
  right: -150%;
  height: 0.313rem;
  width: 2.813rem;
  border-radius: 1rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText {
  justify-content: space-between;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText h6 {
  color: var(--BlackColor);
  font-size: 0.938rem;
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText .flex {
  font-size: 1rem;
  font-weight: 600;
  align-items: flex-start;
  transform: translateY(0.313rem);
}
.popular .secContainer .mainContent .singleDestination .destFooter .destText .flex .icon {
  color: var(--PrimaryColor);
}
.popular .secContainer .mainContent .singleDestination:hover .overlayInfo {
  overflow: visible;
  padding: 1rem 1.5rem;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem;
  }
  .popular .secContainer .secHeader {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .popular .secContainer .secHeader .textDiv {
    text-align: start;
    max-width: 70%;
  }
  .popular .secContainer .secHeader .iconsDiv {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 556px) {
  .popular .secContainer .secHeader {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .popular .secContainer .secHeader .textDiv {
    text-align: start;
    max-width: 70%;
  }
  .popular .secContainer .secHeader .iconsDiv {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 720px) {
  .popular {
    padding-top: 7rem;
  }
}
@media screen and (min-width: 1024px) {
  .popular {
    padding-top: 10rem;
  }
  .popular .secContainer .secHeader .textDiv .secTitle {
    font-size: 2.2rem;
  }
  .popular .secContainer .secHeader .textDiv p {
    font-size: 0.938rem;
  }
  .popular .secContainer .mainContent {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem !important;
  }
}